<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://rawgit.com/kuldeepkeshwar/ui-grid/master/dist/scripts/scripts.js"></script>
<script src="example.js"></script>
</head>
<body ng-app="gpApp" ng-controller="TestController">
	<H2>Grid</H2>
	<table>
		<thead>
			<tr><th>Add New Person</th></tr>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Age</th>
				<th>City</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td ><input type="text"  ng-model="person.first_name" ></td>
				<td ><input type="text"  ng-model="person.last_name" ></td>
				<td ><input type="text"  ng-model="person.age" ></td>
				<td ><input type="text"  ng-model="person.city" ></td>
				<td ><button ng-click="add(person)">Add</button></td>
			</tr>
		</tbody>
	</table>
	<h3>List of Persons</h3>
	<table ui-grid="gridOptions">
		<thead>
			<tr>
				<th ui-grid-sort='sort1'>First Name</th>
				<th ui-grid-sort='last_name'>Last Name</th>
				<th ui-grid-sort='age'>Age</th>
				<th ui-grid-sort='city'>City</th>
			</tr>
			<tr>
				<td ><input type="text"  ng-model="filter.first_name" ui-grid-filter='first_name'></td>
				<td ><input type="text"  ng-model="filter.last_name" ui-grid-filter='filter1'></td>
				<td ><input type="text"  ng-model="filter.age" ui-grid-filter='age'></td>
				<td ><input type="text"  ng-model="filter.city" ui-grid-filter='city'></td>
			</tr>
			
		</thead>
		<tbody>
			<tr ui-grid-repeat var="item">
				<td>{{item.first_name}}</td>
				<td>{{item.last_name}}</td>
				<td>{{item.age}}</td>
				<td>{{item.city}}</td>
				<td><button ng-click="delete(item)">Delete</button></td>
			</tr>
			
		</tbody>
	</table>
	<p>
		<span><button ng-click="prev()"><<</button></span>
		<span>{{gridOptions.pager.currentPage}}</span>
		<span><button ng-click="next()">>></button></span>
		<span>Total Pages {{gridOptions.pager.totalPageCount}}</span>
	</p>
</body>
</html>